.container {
  position: relative;
}

img {
  width: 100%;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}
.boxed-link {
  display: inline-block; /* Make the link a block element to allow for width and height settings */
  padding: 10px 20px; /* Add padding around the link text */
  border: 2px solid #007bff; /* Add a 2px solid border with your desired color */
  text-decoration: none; /* Remove the default underline for links */
  color: #007bff; /* Set the link text color */
  border-radius: 5px; /* Add rounded corners to the border */
}

.boxed-link:hover {
  background-color: #007bff; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}
