@tailwind base;
@tailwind components;
@tailwind utilities;

td {
  @apply p-4;
}

@font-face {
  font-family: "myFont";
  src: url("FRSCRIPT.woff");
}

nav h1 {
  font-size: 5rem;
  font-family: "myFont";
}
div.states img:first-child {
  display: block;
}

div.states img {
  display: none;
}

#plantTable tr:nth-child(odd of :not(.invisible)) {
  @apply bg-teal-900;
}

#plantTable {
  @apply border-collapse;
}

body {
  background-color: #1c2b2c;
  color: #ffffff;
}

nav {
  background-image: url("background.jpg");
  background-position: center;
  z-index: 1;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

.boxed {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.boxed:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(242, 239, 244);
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

#uses {
  word-wrap: break-word;
}
